@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    
    margin: 0;
    padding: 0;
    font-family: Roboto,Arial;
}

body {
    background-color: whitesmoke;
}

main {
    margin: 0 10rem 0 10rem;;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

header{
    background-color: rgba(161, 7, 7, 0.808);
    padding: 3rem;
    
}
header h1{
    color: yellow;  
    text-align: center;
    font-size: xx-large;
    text-shadow: 0 0 0.5em rgb(20, 23, 226);
}

div.card-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: rgb(207, 207, 46);
    background-color: rgb(0, 3, 172);
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px #9F8B38;
    margin-top: 5rem;
}

div.card-container:hover {
    transform: scale(1.1);
    background-color: #333333;
}

a {
    text-decoration: none;
}

div.header-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}